.user-name {
  text-align: center;
}
.reservation-likes {
  display: flex;
}
.reservation-box {
  width: 70%;
}
.r-content {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 6px;
  box-shadow: 2px 2px 2px slategrey;
  margin-left: 10px;
}
.reservation-flex {
  display: flex;
}
.reservation-info {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
}
.clock {
  width: 25px;
  background-color: white;
  border-radius: 14px;
}
.delete-btn {
  border: 3px solid white;
  background-color: blue;
  color: white;
  border-radius: 17px;
  font-size: 15px;
  cursor: pointer;
}
table th {
  padding: 5px 15px 8px 5px;
  color: white
}
table td {
  padding: 5px 15px 8px 5px;
  color: white;
}

.like-content {
  display: flex;
  flex-wrap: wrap;
}
.like-heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 35px;
  appearance: none;
  margin-right: 7px;
  color: red;
}
.unlike-heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 35px;
  appearance: none;
  margin-right: 7px;
  color: gray;
}
img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.likes {
  width: 25%;
  border-radius: 6px;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px lightslategray;
}
.detail-heart {
  display: flex;
  justify-content: space-between
}
.shop-d {
  border-radius: 5px;
  color: white;
  background-color: Blue;
  margin: 7px;
  padding: 7px;
}
a {
  text-decoration: none;
  font-size: 12px;
}