.detail-content {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.shop-info {
  width: 45%;
}
.shop-ttl {
  display: flex;
  margin: 5px;
}
img {
  width: 80%;
}
.back {
  text-decoration: none;
  margin-right: 6px;
  padding: 3px 4px;
  background-color: white;
  box-shadow: 2px 2px 2px slategray;
  border-radius: 6px;
}
.shop-name {
  color: black;
  font-size: 20px;
}
p {
  margin: 7px;
}
.area_genre {
  margin: 3px;
}
.shop-detail {
  font-size: 17px;
}
.reservation {
  border-radius: 6px;
  background-color: #3d6af0;
  width: 40%;
  position: relative;
}
.r-ttl {
  color: white;
  margin: 13px;
  font-size: 18px;
}
input {
  display: block;
  margin: 6px 0 6px 10px;
  border-radius: 5px;
  width: 40%;
}
select {
  display: block;
  margin: 6px 0 6px 10px;
  border-radius: 5px;
  width: 50%;
}
.reservation-info {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid CornflowerBlue;
  border-radius: 6px;
  background-color: CornflowerBlue;
}
table th {
  color: white;
  margin: 3px;
  padding: 7px;
}
table td {
  color: white;
}
.r-btn {
  position: absolute;
	bottom: 0;
  left: 0;
}
.reservation-btn {
  cursor: pointer;
  background-color: blue;
  padding: 5px 180px 3px 178px;
  color: white;
  border: 1px solid blue;
  border-radius: 0 0 6px 6px;
}

@media screen and (max-width: 768px) {
  .detail-content {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
  }
  .reservation-btn {
    cursor: pointer;
    background-color: blue;
    padding: 5px 175px 3px 175px;
    color: white;
    border: 1px solid blue;
    border-radius: 0 0 6px 6px;
  }
  .shop-info {
    width: 65%;
    margin-bottom: 20px;
  }
  .shop-detail {
    font-size: 18px;
    margin-top: 5px;
  }
  .reservation {
    border-radius: 6px;
    background-color: #3d6af0;
    width: 60%;
    padding: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px){
  .detail-content {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
  }
  .reservation-btn {
    cursor: pointer;
    background-color: blue;
    padding: 3px 90px 3px 95px;
    color: white;
    border: 1px solid blue;
    border-radius: 0 0 6px 6px;
  }
  .shop-info {
    width: 70%;
    margin-bottom: 20px;
  }
  .shop-detail {
    font-size: 18px;
    margin-top: 5px;
  }
  .reservation {
    border-radius: 6px;
    background-color: #3d6af0;
    width: 60%;
    padding: 30px;
    margin-bottom: 10px;
  }
  .reservation-info {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border: 1px solid CornflowerBlue;
    border-radius: 6px;
    background-color: CornflowerBlue;
  }
}