.shops {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
  margin: 5% auto;
}
.content {
  width: 80%;
  margin: 0 auto;
}
.img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.shop-search {
  display: flex;
  justify-content: right;
  letter-spacing: -.4em;
}
.detail {
  border-radius: 6px;
  width: 22%;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px lightslategray;
}
.shop-d {
  border-radius: 5px;
  color: white;
  background-color: Blue;
  margin: 7px;
  padding: 5px;
}
.detail-heart {
  display: flex;
  justify-content: space-between;
}
.heart {
  width: 100%;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto 0 10px;
}
a {
  text-decoration: none;
  font-size: 12px;
}
.area-genre {
  display: flex;
  font-size: 13px;
  margin: 0 auto 0 10px;
}
.like-heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 35px;
  appearance: none;
  margin-right: 7px;
  color: red;
}
.unlike-heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 35px;
  appearance: none;
  margin-right: 7px;
  color: gray;
}
.search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 30px;
  appearance: none;
  margin: 0;
}
.search-img {
  width: 70%;
}
.area-select {
  display: inline-block;
  letter-spacing: normal;
  padding: 5px;
  border-radius: 4px 0 0 4px;
  border: 1px solid white;
  box-shadow: 0 2px 2px gray;
}
.genre-select {
  display: inline-block;
  letter-spacing: normal;
  padding: 5px;
  border: 1px solid white;
  border-left: 2px solid Gainsboro;
  box-shadow: 0 2px 2px gray;
}
.name-find {
  display: inline-block;
  letter-spacing: normal;
  padding: 5.4px;
  border-radius: 0 4px 4px 0;
  border: 1px solid white;
  border-left: 2px solid Gainsboro;
  box-shadow: 2px 2px 2px gray;
}

@media screen and (max-width: 768px) {
  .detail {
    border-radius: 6px;
    width: 100%;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px lightslategray;
  }
}

@media screen and (max-width: 400px){
  .name-find {
    width: 35%;
  }
}